<form class="form-horizontal">
  <fieldset>

  <legend>Project Information</legend>

  <div class="control-group">
    <label class="control-label" for="project_name">Project Name</label>
    <div class="controls">
      <input type="text" id="project_name" placeholder="Twenty20 Image Medata Round 1 - 20k">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="type">Project Type</label>
    <div class="controls" id="team">
    <select>
      <option>New Project</option>
      <option>Repeat Project</option>
    </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="services_member">Lead Services Member</label>
    <div class="controls">
      <input type="text" id="services_member" placeholder="Bryan O'Rourke">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="team">Services Team</label>
    <div class="controls" id="team">
		<select>
		  <option>Business Data</option>
		  <option>Content Generation</option>
		  <option>SEO</option>
		</select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="date">Project Delivery Date</label>
    <div class="controls">
      <input type="text" id="date" placeholder="01/28/2014">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="hours">Services Hours</label>
    <div class="controls">
      <input type="text" id="hours" placeholder="5">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="spoilage">Spoilage</label>
    <div class="controls">
      <div class="input-prepend input-append">
      <span class="add-on">$</span>
      <input class="span9" id="prependedInput appendedInput" type="text" placeholder="5000">
      <span class="add-on">.00</span>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="pn">Project Number</label>
    <div class="controls">
      <div class="input-prepend">
      <span class="add-on">PN</span>
      <input class="span12" id="prependedInput" type="text" placeholder="447">
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="sla_accuracy">SLA Accuracy</label>
    <div class="controls">
      <div class="input-append">
      <input class="span12" id="appendedInput" type="text" placeholder="94">
      <span class="add-on">%</span>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="accuracy">Spotcheck Accuracy</label>
    <div class="controls">
      <div class="input-append">
      <input class="span12" id="appendedInput" type="text" placeholder="94">
      <span class="add-on">%</span>
      </div>
    </div>
  </div>

  </fieldset>
</form>