<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" id="email" placeholder="borourke@crowdflower.com">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="text" id="password">
    </div>
  </div>

  <div class="control-group">
  	<div class="controls">
  	<label class="checkbox">
    	<input type="checkbox"> Remember me
  	</label>
  </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>

</form>