<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Bryan O'Rourke">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" id="email" placeholder="borourke@crowdflower.com">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="team">Services Team</label>
    <div class="controls" id="team">
		<select>
		  <option>Business Data</option>
		  <option>Content Generation</option>
		  <option>SEO</option>
		</select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
  <div class="controls">
      <input type="password" id="password">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="confirm_password">Confirm Password</label>
  <div class="controls">
      <input type="password" id="confirm_password">
    </div>
</div>
  </div>
</form>