<div class="banner hero-unit">
  <span class="words"><h1>//KPItracker</h1>
  <ul><div class="indent"><li>track your KPIs</li><li>enter performance reviews</li><li>take a happiness survey</li></ul></div>
<br>
  <%#= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %></span>
</div>
<%#<%= link_to image_tag("crowdflower_logo.jpg", alt: "CrowdFlower"), 'http://crowdflower.com/' %>