<div class="center hero-unit">
  <h1>Welcome to the Services KPI Tracker | ServeTrac</h1>

  <h2>
    Here you can track your KPIs, enter performance reviews and take a happiness survey.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("crowdflower_logo.jpg", alt: "CrowdFlower"), 'http://crowdflower.com/' %>