<div class="bg">
<div class="center banner hero-unit">
  <span class="words"><h2>Welcome to the Services KPI Tracker | ServeTrac</h2>

  <h3>Here you can track your KPIs, enter performance reviews and take a happiness survey</h3>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %></span>
</div>
</div>
<%#<%= link_to image_tag("crowdflower_logo.jpg", alt: "CrowdFlower"), 'http://crowdflower.com/' %>