<div class="well center span10 offset1 top">
  <h1>New Report Card</h1> 
</div>



    <div class="well span10 offset1 bottom">
		<div class="span5 offset1">
			<%= render '/services/report_card_form_left' %>
		</div>

		<div class="span5 offset1">
			<%= render '/services/report_card_form_right' %>
		</div>
	</div>

