
<div class="well center span10 offset1" style="margin-top:3em;">
  <h1>New Report Card</h1> 
</div>


<div class="row-fluid" style="margin-top:5em; margin-left:2em; margin-bottom:5em;">
    <div class="well span10 offset1">
		<div class="span5 offset1" style="margin-top:2em;">
			<%= render '/services/report_card_form_left' %>
		</div>

		<div class="span5" style="margin-top:2em;">
			<%= render '/services/report_card_form_right' %>
		</div>
	</div>
</div>
