<div class="center hero-unit">
  <h1>Sign Up | ServeTrac</h1>

  <h2>
    Please fill out the following information.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("crowdflower_logo.jpg", alt: "CrowdFlower"), 'http://crowdflower.com/' %>