<div class="row-fluid">
  <div class="well center span10 offset1 top">
    <h1>ServeTrac | Sign In</h1>
    
  </div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 bottom">
   <div class="offset3 span6" style="margin-top:2em; margin-bottom:2em;">
     <%= render '/sessions/sign_in_form' %>
   </div>
 </div>
</div>