<div class="well center span10 offset1 top">
  <h1><%= gravatar_for @user %> Project Charts | <%= @user.name %></h1>
</div>

<div class="span10 offset1 well charts2">
	<%= column_chart [
    		{name: "Actual Accuracy", data: @project_chart_arrays[:accuracy]},
    		{name: "SLA Accuracy", data: @project_chart_arrays[:sla_accuracy]},
    		{name: "Net Accuracy", data: @project_chart_arrays[:difference]}
      ],
  		library: {title: "Accuracy by Project", titleTextStyle: {fontSize: 20}, vAxis: {title: "Accuracy (%)", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Project"}}
  	%>
</div>

<div class="span10 offset1 well charts2 bottom">
<%= column_chart @project_chart_arrays[:spoilage], library: {title: "Spoilage by Project", titleTextStyle: {fontSize: 20}, vAxis: {title: "Spoilage ($)", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Project"}}, colors: ["#345768"]%>
</div>