<div class="well center span10 offset1 top">
  <h1><%= gravatar_for @user %> ServeTrac | <%= @user.name %></h1>
</div>

<div class="row-fluid">
<div class="well span10 offset1 bottom">
	<div style="margin-top:2em; margin-bottom:2em;">

				<%= render 'profile_tab' %>

			
	</div>
</div>
</div>