<form class="form-horizontal">
	<fieldset>

    <legend>New Project Report Card</legend>

    <br>

    <label class="checkbox">
      <input type="checkbox" id="clean_code"> CML - clear and coherent structure </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> CML - commented clearly </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Tags - at least 5 in job </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Code - clean and re-usable </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Code - scripted solution utilized if more efficient </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Code - advanced scripting utilized </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Instructions - clear and concise </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Delivery - on or before agreed upon deadline </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Delivery - all client docs completed </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Communication - clear, professional AS and Sales communication </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Accuracy - at or above client expectations </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Spoilage - low spoilage, high yield </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Project - complex, innovative problem solving </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Bronze - best in class </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Silver - best in class </input>
    </label>

    <label class="checkbox">
      <input type="checkbox" id=""> Gold - Best in class </input>
    </label>

    <br>

  </fieldset>
</form>