<div class="row-fluid">
<div class="well center span10 offset1 top">
  <h1>CF Services | <%= @user.name %></h1>
</div>
</div>

<div class="row-fluid">
<div class="well span10 offset1 bottom" bottom>
  <h1 class="center">Create A New Survey Continued...</h1>
  <div class="row-fluid">
    <div class="span6 offset3">
      <hr>
      <h4>4. Go to your new survey job</h4>
      <p>Job ID: <%= link_to "#{@job_id}", "https://crowdflower.com/jobs/#{@job_id}", :target => "_blank" %></p>
      <hr>
      <h4>5. On the 'Test Questions' page, select 'Edit' for the first test question</h4>
      <p>Do not select random, or any other units than the first test question.  It is vital that you create a test question only off the first unit that presents itself in the test question interface</p>
      <hr>
      <h4>6. Create a test question by answering all fields you will use to restrict contributor access to your survey</h4>
      <p>Be sure to copy this text as the reason for your test question:</p>
      <p class="well_white well">Sorry, you do not qualify for this survey. Even though this is a test question, it will not be counted against your accuracy or affect your standing in any of the levels. Thank you for taking the time to see if you did qualify! We look forward to your participation in other surveys in the near future.</p>
      <hr>
      <h4>7. Launch the survey!</h4>
      <p>Your email was added to the notify field, so you will receive an email when the survey finishes</p>
    </div>
  </div>
</div>
</div>