@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.top-bar-name {
	position: absolute;
	top: 10px;
	font-size: 20px;
  color: #FFFFFF;
}
.topbar {
  position: fixed;
  width:100%;
}
.left-nav {
	height: 100px;
}

#dLabel {
  position:fixed;
  margin-left: 2em;
  margin-top:  4em;
}

.dropdown-menu {
  margin-top:6.5em;
  margin-left:2em;
}

.submenu .menu li div, .submenu .menu li ul{
display:block;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.full {
  width: 100% !important;

}
.words{
  display: inline-block;
  position: absolute;
  color:#333333;
  text-align:left;
  margin-left:10em;
  margin-top:10em;
}
.banner {
   z-index: -100;
   top:2.75em;
   position:relative;
   height: 100%;
   text-align:center;
   line-height: 100px;
}
.hero-unit {
  background-image: image-url('banner.jpg');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center left;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
}
.indent {
  margin-top:1em;
  margin-left:3em;
}

.left-indent {
  margin-left:2em;
}

.top-indent {
  margin-top:10em;
}

