@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.top-bar-name {
	position: absolute;
	top: 10px;
	font-size: 20px;
}

.left-nav {
	height: 100px !important;
}