@import "bootstrap";

/* universal */
.charts {
  height:740px;
}

.well_white {
  background-color: white !important;
}

.charts2 {
  height:340px;
}

.text_area {
  height:340px !important;
}

.text_area_type_2 {
  height:170px !important;
}

.report_card {
  text-align:left !important;
}

html {
  overflow-y: scroll;
}

.top {
  margin-top: 5em;
  margin-left: 1200em;
}

.well_background {
  background-color: #ffffff;
}

.bottom {
  margin-bottom:5em;
}

body {
  padding-top: 0px;
  background-image: url("adsk_output_for_upload.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center !important;
}

.center h1 {
  margin-bottom: 10px;
}

.top-bar-name {
	position: absolute;
	top: 10px;
	font-size: 20px;
  color: #FFFFFF;
}
.topbar {
  position: fixed;
  width:100%;
}
.left-nav {
	height: 100px;
}

#dLabel {
  position:fixed;
  margin-left: 2em;
  margin-top:  4em;
}

.submenu .menu li div, .submenu .menu li ul{
display:block;
position: absolute;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    position: absolute;
    margin-top: -1px !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    margin-top: -1px !important
}

.full {
  width: 100% !important;

}
.words{
  display: inline-block;
  position: absolute;
  color:#333333;
  text-align:left;
  margin-left:10em;
  margin-top:10em;
}
.banner {
   z-index: -100;
   top:2.75em;
   position:relative;
   height: 100%;
   text-align:center;
   line-height: 100px;
}
.hero-unit {
  background-image: url(image_path('banner.jpg'));
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center left;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: fixed;
   z-index: -1;
}
.indent {
  margin-top:1em;
  margin-left:3em;
}

.left-indent {
  margin-left:2em;
}

.top-indent {
  margin-top:10em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.right-padding{
  padding-right:10em;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
