<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container text-right left-indent" style="padding:10px;">
    Made with <span class="glyphicon glyphicon-heart"></span>
		 by <a href="http://www.hd-wallpapers.com/download/game-of-thrones-ned-stark_1920x1080_442-hd.jpg">Bryan O'Rourke</a><a href="http://www.jennleung.com">Jenn Leung</a>.
  </div>
</nav>