<div class="span2">
    <div class="navbar navbar-inverse navbar-static-left left-nav">
  <div class="navbar-inner">
        <p><%= link_to "New Report Card", "/new_report_card"%></p>
        <p><%= link_to "Sign Up", "/sign_up"%></p>
        <p><%= link_to "Sign In", "/sign_in"%></p>
      </ul>
  </div>
</div>